fastapi
uvicorn[standard]
python-dotenv
pyjwt
passlib[bcrypt]
python-multipart
langchain
langchain-community
faiss-cpu
pymupdf
langdetect
aiosqlite
sqlalchemy
pydantic
faster-whisper
edge-tts
fastembed
langchain-groq
groq
